<div class="masthead">
  <ul class="language-nav">
    <li><a href="#">CSS</a></li>
    <li><a href="#">HTML</a></li>
    <li><a href="#">Javascript</a></li>
    <li><a href="#">Ruby</a></li>
  </ul>

  <nav class="logo"> 
    <img src="assets/AA_Times_Logo" alt="AA Times Logo">
  </nav>

  <ul class="masthead-links">
    <li>Tuesday, October 18, 2016</li>
    <li><i class="fas fa-newspaper"></i><a href="#">Today’s Paper</a></li>
    <li><i class="fas fa-video"></i><a href="">Video</a></li>
    <li><button>77°F</button></li>
    <li><button>AAO <span style="color:green;">+100%</span></button></li>
  </ul>
</div>