html {
  height: 100%;
}

.game {
  height: 600px;
  width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game > h1 {
  font-size: 2em;
  font-weight: 700;
  padding: 0.5em;
}

.grid {
  display: flex;
  margin: 0.5em;
  width: 50%;
  height: 50%;
  background-color: lightgray;
}

.row {
  width: 100%;
  height: calc(100% / 9);
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-right-style: outset;
  border-bottom-style: outset;
  border-color: white;
  border-width: 3px;
}

.flagged {
  color: red;
}

.safe {
  border-style: inset;
}

.modal-screen {
  z-index: 998;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}

.modal-content {
  z-index: 999;
  position: absolute;
  background: white;
  border-radius: 5px;
  border: 1px solid black;
  width: 200px;
  height: 100px;
  top: 50%;
  left: 50%;  
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-content > button {
  background-color: lightgray;
  border: 1px solid black;
  padding: 5px;
}