<h1>Welcome <%= current_user.username %>!</h1>

<b>Your Feed!</b>
<ul class="infinite-tweets">
  <ul id="feed">
  </ul>
  <a class="fetch-more" href="fetch-more">More Tweets</a>
</ul>

<%= render 'tweets/form' %>
