.clock {
  width: 60vw;
  height: 20vh;
  margin: 0 auto;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.clock > h1 {
  width: 100%;
  height: 20%;
  margin: 10px;
  font-size: 36px;
}

.dateTime {
  border: 2px solid black;
  width: 100%;
  height: 80%;
  background-color: orange;
  padding: 15px;
}

.time, .date {
  display: flex;
  color: white;
  height: 50%;
  justify-content: space-between;
}

.tabs {
  width: 30vw;
  height: 40vh;
  margin: 0 auto;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
}

.tabs > h1 {
  width: 100%;
  height: 15%;
  margin: 10px;
  font-size: 36px;
}

.tab-content {
  height: 85%;
}

.tab-headers {
  display: flex;
  justify-content: space-between;
  height: 20%;
}

.tab-headers > li {
  padding: 10px;
  border-radius: 30px 30px 0px 0px;
  border: 2px solid black;
  background-color: lightblue;
  width: 33.33%;
}

.tab-headers > li:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.tab-content > article {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  color: white;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  background-color: lightblue;
}

#tab-selected {
  border-bottom: none;
}

.weather {
    width: 60vw;
    height: 20vh;
    margin: 0 auto;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.weather > h1 {
    width: 100%;
    height: 20%;
    margin: 10px;
    font-size: 36px;
}

.weather-body {
  border: 2px solid black;
  width: 100%;
  height: 80%;
  background-color: green;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loading {
  justify-content: center;
}

.tabs-autocomplete {
  display: flex;
  justify-content: space-between;
}

.autocomplete {
  width: 30vw;
  height: 40vh;
  margin: 0 auto;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
}

.autocomplete > h1 {
  width: 100%;
  height: 15%;
  margin: 10px;
  font-size: 36px;
}

.autocomplete-body {
  border: 2px solid black;
  width: 100%;
  height: 85%;
  background-color: purple;
  padding: 15px;
}

.search-bar {
  height: 20%;
  width: 80%;
  border: 2px solid black;
  background-color: white;
  padding: 15px;
  box-shadow: 0px 0px 0px 5px lightblue inset;
  margin: 0 auto;
  display: block;
}

.searched-names {
  height: 80%;
  color: white;
  list-style-type: square;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

/* Making the scrollbar visible and changing its appearance */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
